body{
	// margin: 0;
	// padding: 0;
}

a{
	text-decoration: none;
}

.clearfix::after{
	display: table;
	content: "";
	clear: both;
}

.main-menu ul{
	margin:0px;
	float: left;
}

.main-menu li{
	padding: 5px;
	background: #ccc;
	float: left;
	border: 1px solid black;
	list-style: none;
}

.btn {
	margin: 5px;
	padding: 0px;
	padding: 10px;
	border: 1px solid #ccc;
	background: #ccc;
	color: white;
}

.add {
	float: right;
}